body {
  background: linear-gradient(to bottom, #555, #999);
  background-attachment: fixed;
}
main {
  /* margin:0 auto; */
  padding: 30px;
  background: #fff;
  width: 964px;
  min-height: 300px;
}
